@import services.{AbcFileRecord, AbcTuneRecord}
@(pageTitle: String, abcFileRecord: AbcFileRecord, tuneRecords: Iterable[AbcTuneRecord])

@main(pageTitle) {

    <div class="page-header">
        <h1>ABC File @abcFileRecord.id</h1>
    </div>

    <section class="gen-section">
        <p class="lead">Tunes</p>
        This file contains @tuneRecords.size tunes:
        <ul>
        @for(tuneRecord <- tuneRecords) {
            <li>@tuneTemplate(tuneRecord)</li>
        }
        </ul>
    </section>

}
