@import services.{AbcFileRecord, AbcTuneRecord}
@(recentFileRecords: List[AbcFileRecord],
        tuneRecords: Iterable[AbcTuneRecord],
        tuneSequences: Map[String, Set[String]],
        filesCount: Long,
        tunesCount: Long)
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @main("ABC Site") {

        <h1>ABC Files, Tunes and Note Sequences</h1>

        <h2>ABC File Upload</h2>
        Upload a new ABC File to the site. Tunes found in the file will be extracted and added to the tunes and note sequences held by the site.
        @helper.form(action = routes.FileController.upload, 'enctype -> "multipart/form-data") {
            <input type="file" name="abc_file">
            <p>
                <input type="submit">
            </p>
        }

        <h2>Recently Added Files</h2>
        <ul>
        @for(fileRecord <- recentFileRecords.take(10)) {
            <li><a href="files/@fileRecord.id">@fileRecord.id</a> @fileRecord.content.take(50)</li>
        }
        </ul>

        <h2>Recently Added Tunes</h2>
        <ul>
        @for(tuneRecord <- tuneRecords) {
            <li><a href="tunes/@tuneRecord.id">@tuneRecord.tune.titles.take(10).mkString(" / ")</a> - @tuneRecord.tune.key</li>
        }
        </ul>

        <h2>Sample Note Sequences</h2>
        A selection of note sequences and the tunes they appear in.
        <ul>
        @for(tuneSequenceEntry <- tuneSequences) {
            <li>@tuneSequenceEntry._1
            <ul>
            @for(tune <- tuneSequenceEntry._2) {
                <li>@tune</li>
            }
            </ul>
            </li>
        }
        </ul>

        <h2>Status</h2>
        <ul>
            <li>Files Count: @filesCount</li>
            <li>Tunes Count: @tunesCount</li>
        </ul>
    }
