@import services.{AbcFileRecord, AbcTuneRecord}
@(recentFileRecords: List[AbcFileRecord],
        tuneRecords: Iterable[AbcTuneRecord],
        tuneSequences: Map[String, Set[AbcTuneRecord]],
        filesCount: Long,
        tunesCount: Long)

    @main("ABC Site") {

        <h1>ABC Files, Tunes and Note Sequences</h1>

        <h2>ABC File Upload</h2>
        Upload a new ABC File to the site. Tunes found in the file will be extracted and added to the tunes and note sequences held by the site.
        @helper.form(action = routes.FileController.upload, 'enctype -> "multipart/form-data") {
            <input type="file" name="abc_file">
            <p>
                <input type="submit">
            </p>
        }

        <h2>Recently Added Files</h2>
        <ul>
        @for(fileRecord <- recentFileRecords.take(10)) {
            <li>@fileTemplate(fileRecord)</li>
        }
        </ul>

        <h2>Recently Added Tunes</h2>
        <ul>
        @for(tuneRecord <- tuneRecords) {
            <li>@tuneTemplate(tuneRecord)</li>
        }
        </ul>

        <h2>Sample Note Sequences</h2>
        A selection of note sequences and the tunes they appear in.
        <ul>
        @for(tuneSequenceEntry <- tuneSequences) {
            <li>@tuneSequenceTemplate(tuneSequenceEntry._1, tuneSequenceEntry._2)</li>
        }
        </ul>

        <h2>Status</h2>
        <ul>
            <li>Files Count: @filesCount</li>
            <li>Tunes Count: @tunesCount</li>
        </ul>
    }
