@import services.{AbcFileRecord, AbcTuneRecord}
@(pageTitle: String,
        tuneRecord: AbcTuneRecord,
        fileRecords: Iterable[AbcFileRecord],
        tuneSequencesMap: Map[String, Set[AbcTuneRecord]],
        tuneNotationText: String)

    @main(pageTitle) {

        <h1>ABC Tune @tuneRecord.tune.titles.take(10).mkString(" / ")</h1>
        <ul>
            @tuneRecord.tune.reference
            @tuneRecord.tune.composer
            @tuneRecord.tune.meter
            @tuneRecord.tune.key

        </ul>

        <div id="notation"></div>

        <div id="midi_div"></div>

        <h2>Sequences shared with other tunes:</h2>
        <ul>
            @for(tuneSequenceEntry <- tuneSequencesMap) {
                <li>@tuneSequenceTemplate(tuneSequenceEntry._1, tuneSequenceEntry._2)</li>
            }
        </ul>

        <h2>Files containing this tune:</h2>
        <ul>
        @for(fileRecord <- fileRecords) {
            <li>@fileTemplate(fileRecord)</li>
        }
        </ul>


    <script type="text/javascript">
            ABCJS.renderAbc('notation',`@Html(tuneNotationText)`)
            ABCJS.renderMidi('midi_div',`@Html(tuneNotationText)`, {}, { inlineControls : {standard: true}})
    </script>

    }
