@import services.{AbcFileRecord, AbcTuneRecord}
@(pageTitle: String,
        tuneRecord: AbcTuneRecord,
        fileRecords: Iterable[AbcFileRecord],
        tuneSequencesMap: Map[String, Set[AbcTuneRecord]],
        tuneNotationText: String)

@main(pageTitle) {

    <div class="page-header">
        <h1>ABC Tune @tuneRecord.tune.titles.take(10).mkString(" / ")</h1>
    </div>

    <section class="gen-section">
        <ul>
            @tuneRecord.tune.reference
            @tuneRecord.tune.composer
            @tuneRecord.tune.meter
            @tuneRecord.tune.key
        </ul>

        <div id="notation"></div>

        <div id="midi_div_inline" class="col-md-8"></div>

        <div id="midi_div"></div>

        <div id="warnings"></div>
    </section>

    <section class="gen-section">
        <p class="lead">Sequences shared with other tunes:</p>
        <ul>
        @for(tuneSequenceEntry <- tuneSequencesMap) {
            <li>@tuneSequenceTemplate(tuneSequenceEntry._1, tuneSequenceEntry._2)</li>
        }
        </ul>
    </section>

    <section class="gen-section">
        <p class="lead">Files containing this tune:</p>
        <ul>
        @for(fileRecord <- fileRecords) {
            <li>@fileTemplate(fileRecord)</li>
        }
        </ul>

        <textarea name="abc" id="abc" cols="130" rows="15">@tuneNotationText</textarea>

    </section>


    <script type="text/javascript">
            $(window).on("load", function() {
                new ABCJS.Editor("abc",
                        { paper_id: "notation", generate_midi: true,
                            midi_id: "midi_div_inline", midi_download_id: "midi_div", warnings_id: "warnings",
                            midi_options: { generateInline: true, generateDownload: true } });
                window.ABCJS.midi.soundfontUrl = "@routes.Assets.versioned("soundfont")/";
            });
    </script>
}
